{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="row">
          <div class="col-md-6 mb-4">
            <img src="../static/assets/img/alex-marathon.jpeg" class="img-fluid" alt="Alex Marathon">
          </div>
          <div class="col-md-6 mb-4">
            <img src="../static/assets/img/alex-soph-party.jpeg" class="img-fluid" alt="Image 2">
          </div>
          <div class="col-12">
            <p>
              I am a software engineer and mathematician obsessed with science and technology. I specialize 
              in backend web development and applied cryptography and have an academic background in applied mathematics.
            </p>
            <p>
              In my spare time I enjoy listening to music as well as sport and exercise, especially swimming and long-distance running. 
            </p>
            <p>
              Follow my journey as I travel the world, sharing my experiences as well as thoughts on the latest developments
              within the science and technology industry.
            </p>
          </div>
          <div class="col-md-6 mt-4">
            <img src="../static/assets/img/alex-soph-wedding.jpeg" class="img-fluid" alt="Image 3">
          </div>
          <div class="col-md-6 mt-4">
            <img src="../static/assets/img/alex-swimming.jpeg" class="img-fluid" alt="Image 4">
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
