{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/london-hd.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Welcome</h1>
          <span class="subheading">Where do you want to go.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="row align-items-center">
          <div class="col-md-4 mb-4">
            <img src="../static/assets/img/alex-cartoon-cropped.jpeg" class="img-fluid larger-image" alt="Alex Cartoon">
          </div>
          <div class="col-md-8">
            <p>
              Hi, I'm Alex Mackay.
            </p>
            <p>
              I'm software engineer and mathematician currently living in London. I work as a backend developer for <a href="https://alluvial.finance/" target="_blank" title="Go to Alluvial">Alluvial</a>.
            </p>
            <p>
              Generally interested in mathematics, science and technology as well as sport and music.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
